<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farming_tools</title>
</head>
<body>
    <h1>Available in our agri_shop</h1>
    <p>List of farming_tools</p>
<ol>
    <li>Hand Trowels – Used for digging, planting, and transferring soil or seedlings. </li>
    <li> Hoes – Ideal for weeding and shaping soil.</li>
    <li>Rakes – Used for leveling soil, collecting debris, and preparing seedbeds.
 </li>
    <li> Shovels – Essential for digging, lifting, and moving soil, manure, or compost.</li>
    <li>Pruning Shears – Used for trimming and cutting plants, shrubs, and small branches.
 </li>
    <li>Wheelbarrows – Helps transport soil, tools, or harvested crops easily. </li>
    <li> Sprayers – Used to apply fertilizers, pesticides, or herbicides.
</li>
    <li> Seeders – Tools for planting seeds uniformly in rows or beds.</li>
    <li>Irrigation Pipes and Sprinklers – For watering crops efficiently. </li>
    <li> Sickles – Used for harvesting crops or cutting grass and weeds.</li>
</ol>


</body>
</html>

