<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fertilizers</title>
</head>
<body>
    <h1>Fertilizers</h1>
    <p>List of fertilizers will go here.</p>
<ol>
    <li>Urea Fertilizer</li>
    <li>Ammonium Nitrate</li>
    <li>Superphosphate</li>
    <li>Potassium Chloride</li>
    <li>Compost Fertilizer</li>
    <li>Manure</li>
    <li>Ammonium Sulphate</li>
    <li>Calcium Nitrate</li>
    <li>Bone Meal Fertilizer</li>
    <li>Fish Emulsion Fertilizer</li>
</ol>

</body>
</html>
