<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feeds for livestocks</title>
</head>
<body>
    <h1>livestock stock</h1>
    <p>Here are a variety of stocks for livestocks</p>

    <ol>
        <li>Cattle feed </li>
        <li> Poultry feed</li>
        <li> Energy supplements</li>
        <li>Antibiotics </li>
        <li> Antiseptics</li>
        <li> Waterers and drinkers</li>
        <li>Electric fencing systems </li>
        <li>Milking machines </li>
        <li>Halters and ropes </li>
        <li>Animal shampoos</li>

    </ol>
</body>
</html>