<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available in our Agri_shop</title>
</head>
<body>
    <h1>pest</h1>
    <p>List of pesticides</p>

<ol>
    <li>Malathion – Used to control a wide range of insects on crops and vegetables. </li>
    <li>Cypermethrin – Effective against pests like caterpillars and beetles. </li>
    <li>Imidacloprid – Commonly used for controlling sucking pests like aphids and whiteflies. </li>
    <li>Chlorpyrifos – Used for controlling termites and soil-dwelling insects </li>
    <li>Deltamethrin – A broad-spectrum pesticide for both agricultural and household pests. </li>
    <li>Carbaryl – Used to control beetles, caterpillars, and other pests on fruit and vegetables. </li>
    <li>Copper Sulfate – An organic fungicide and pesticide effective against fungal infections. </li>
    <li>Neem Oil – A natural pesticide used to control insects and fungal diseases. </li>
    <li>Sulfur Dust – Effective against mites, thrips, and powdery mildew </li>
    <li>Bacillus Thuringiensis (BT) – A biological pesticide used against caterpillars and moth larvae. </li>
</ol>

</body>
</html>