{% extends 'layout.html' %}
{% load static %}

{% block body %}
<main class="main">

  <!-- Page Title -->
  <div class="page-title dark-background" data-aos="fade" style="background-image: url({% static 'img/q1.jpg' %});">
    <div class="container position-relative">
      <h1>Services</h1>
      <p>Home / Services</p>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li class="current">Services</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- End Page Title -->

  <!-- Services Section -->
  <section id="services" class="services section">
    {% if author %}
    <div class="container section-title" data-aos="fade-up">
      <h2>{{ author.author_title }}</h2>
      <p>{{ author.author_desc }}</p>
    </div>
    {% endif %}

    <div class="content">
      <div class="container">
        <div class="row g-0">
          {% for profile in profile %}
          <div class="col-lg-3 col-md-6">
            <div class="">
              <span class="{{ profile.profile_number }}"></span>
              <div class="service-item-icon">
                <img src="{{ profile.profile_image.url }}" alt="" width="100">
              </div>
              <div class="service-item-content">
                <h3 class="service-heading">{{ profile.profile_title }}</h3>
                <p>{{ profile.profile_desc }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!-- /Services Section -->

  <!-- About Section -->
  <section id="about" class="about section">
    <div class="content">
      <div class="container">
        <div class="row">
          {% if comment %}
          <div class="col-lg-6 mb-4 mb-lg-0">
            <img src="{{ comment.comment_image.url }}" alt="Image " width="700">
          </div>
          <div class="col-lg-6 ml-auto bold" data-aos="fade-up" data-aos-delay="100">
            <h3 class="content-subtitle text-white opacity-50 text-center">{{ comment.comment_title }}</h3>
            <h2 class="content-title mb-4 text-light text-end ">{{ comment.comment_head }}</h2>
            <div class="mb-2 ms-3 "><p class="opacity-50 text-light fs-4 text-end ms-3">{{ comment.comment_desc }}</p></div>
          </div>
          {% endif %}

          <div class="row my-5 ml auto">
            {% for php in php %}
            <div class="col-lg-12 d-flex align-items-start mb-4">
              <i class="bi bi-cloud-rain me-4 display-6"></i>
              <div>
                <h4 class="m-0 h5 text-white fs-2">{{ php.php_title }}</h4>
                <p class="text-light opacity-50 fs-3">{{ php.php_desc }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /About Section -->

  <!-- Testimonials Section -->
  <section class="testimonials-12 testimonials section" id="testimonials">
    {% if shop %}
    <div class="container section-title" data-aos="fade-up">
      <h2>{{ shop.shop_title }}</h2>
      <h3>{{ shop.shop_head }}</h3>
    </div>
    {% endif %}
    <div class="testimonial-wrap">
      <div class="container">
        <div class="row">
          {% for employee in employee %}
          <div class="col-md-6 mb-4 mb-md-4">
            <div class="testimonial">
              <img src="{{ employee.employee_image.url }}" alt="Testimonial author">
              <blockquote>
                <p class="text-light">{{ employee.employee_desc }}</p>
              </blockquote>
              <p class="client-name text-light">{{ employee.employee_title }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!-- /Testimonials Section -->

  <!-- Call To Action Section -->
  <section id="call-to-action" class="call-to-action section ql-bg-orange">
    <div class="content bg-secondary">
      <div class="container bg-dark">
        <div class="row align-items-center">
          {% if special %}
          <div class="col-lg-6">
            <h3>{{ special.special_title }}</h3>
            <p class="opacity-50 text-light">{{ special.special_head }}</p>
          </div>
          {% endif %}
          <div class="col-lg-6 col-md-6 footer-newsletter">
            <form action="{% url 'newsletter_subscription' %}" method="post" class="subscribe-form">
              {% csrf_token %}
              <div class="input-group mb-3">
                <input type="email" class="form-control" name="email" placeholder="Enter your email" required>
                <button class="btn btn-success" type="submit">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Call To Action Section -->

</main>
{% endblock %}
